<div class="main-content center">
    <div class="container-fluid">
        <div class="row">

            <div class="card card-chart">
                <div class="card-header card-header-primary">
                  <h1>Welcome to Polar Forecast!</h1>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Enter an event to get started</h4>
                    
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Event</mat-label>
                          <input type="text"
                                 placeholder="Pick one"
                                 aria-label="Number"
                                 matInput
                                 [formControl]="myControl"
                                 [matAutocomplete]="auto">
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>
                      
                    
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <!--<i class="material-icons">access_time</i> updated 4 minutes ago!-->
                    </div>
                </div>
        </div>
    </div>
</div>