<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"></div>
      <div class="card">
        <div class="card-body">
          <h1> Elimination Matches</h1>
          <mat-table matSort #finalsSort="matSort" [dataSource]="finalsDataSource" matSortActive="match_order"
            matSortDirection="asc">

            <ng-container matColumnDef="match_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Match </th>
              <td mat-cell *matCellDef="let element"> {{element.comp_level}} - {{element.set_number}}-
                {{element.match_number}} </td>
            </ng-container>

            <ng-container matColumnDef="blue_score">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Blue Score </th>
              <td mat-cell *matCellDef="let element"> {{element.blue_score}} </td>
            </ng-container>

            <ng-container matColumnDef="blue_rp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Blue RP </th>
              <td mat-cell *matCellDef="let element"> {{element.blue_rp}} </td>
            </ng-container>

            <ng-container matColumnDef="red_score">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Red Score </th>
              <td mat-cell *matCellDef="let element"> {{element.red_score}} </td>
            </ng-container>

            <ng-container matColumnDef="red_rp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Red RP </th>
              <td mat-cell *matCellDef="let element"> {{element.red_rp}} </td>
            </ng-container>

            <ng-container matColumnDef="results">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Results </th>
              <td mat-cell *matCellDef="let element"> {{element.results}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h1> Qualification Matches</h1>
          <table mat-table matSort #sort="matSort" [dataSource]="dataSource" class="mat-elevation-z8"
            matSortActive="match_number" matSortDirection="asc">

            <ng-container matColumnDef="match_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Match </th>
              <td mat-cell *matCellDef="let element"> {{element.match_number}} </td>
            </ng-container>

            <ng-container matColumnDef="blue_score">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Blue Score </th>
              <td mat-cell *matCellDef="let element"> {{element.blue_score}} </td>
            </ng-container>

            <ng-container matColumnDef="blue_rp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Blue RP </th>
              <td mat-cell *matCellDef="let element"> {{element.blue_rp}} </td>
            </ng-container>

            <ng-container matColumnDef="red_score">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Red Score </th>
              <td mat-cell *matCellDef="let element"> {{element.red_score}} </td>
            </ng-container>

            <ng-container matColumnDef="red_rp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Red RP </th>
              <td mat-cell *matCellDef="let element"> {{element.red_rp}} </td>
            </ng-container>

            <ng-container matColumnDef="results">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Results </th>
              <td mat-cell *matCellDef="let element"> {{element.results}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>